<template>
  <div class="content">
    <ul>
        <div v-for="task in tasks" :key="task.id" >
            <TaskItem
            @delete-task="$emit('delete-task', task.id)"
            @toggle-status="$emit('toggle-status', task.id)"
            :task="task"
            />
        </div>
    </ul>
  </div>
</template>

<script>
import TaskItem from './TaskItem.vue';

export default {
  name: 'Content',
  components: {
    TaskItem,
  },
  props: {
    tasks: Array,
  },
};
</script>

<style lang="scss">
  @import '../assets/common.scss';

  .content ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    color: $secondaryGrey;
}

</style>
