<template>
  <div class="header">
    <div>
      <h2>Thursday, <span>10th</span></h2>
      <p class='month'>December</p>
    </div>
    <div class='tasksCount'>
      <span>{{count}}</span> Tasks
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: {
    count: Number,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../assets/common.scss';

.header {
    @include flex-space-between;
    padding: 20px 30px 20px;
    border-bottom: 1px solid #e0e9f1;
    margin-bottom: 20px;
}

h2 {
    color: $primaryBlue;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 5px;
}

h2 span {
    font-weight: 300;
}

.month, .tasksCount {
    color: $secondaryGrey;
    font-weight: 300;
    text-align: left;
    font-size: 20px;
    margin: 0;
}

.tasksCount {
    margin-top: 25px;
    text-align: center;
}

.tasksCount span{
    font-weight: 500;
}
</style>
