<template>
  <div class="modal" @click="$emit('set-show-modal', false)">
    <div class="modal_content" @click.stop="">
      <h3>Add new task</h3>
        <form class='modal_form'>
          <input
            class="modal_input"
            v-model="newTask"
            placeholder="Enter new task"
            required
          />
          <small class="error" v-if="errors.newTask">{{errors.newTask}}</small>
          <div class="modal_time">
            <p>Spesify time: </p>
            <input
              type='number'
              class="modal_input"
              placeholder="00"
              v-model="hours"
              min="0"
              max="12"
              required
            />
            <p> : </p>
            <input
              type='number'
              class="modal_input"
              placeholder="00"
              v-model="minutes"
              min="0"
              max="59"
              required
            />
            <select class="modal_input" v-model="meridiem">
              <option>AM</option>
              <option>PM</option>
            </select>
          </div>
          <small class="error" v-if="errors.hours">{{errors.hours}}</small>
          <small class="error" v-if="errors.minutes">{{errors.minutes}}</small>
            <div class="modal_buttons">
            <button @click="$emit('set-show-modal', false)">Cancel</button>
            <button @click="addTask">Add</button>
          </div>
        </form>
            </div>
        </div>
</template>

<style lang="scss">
    @import '../assets/common.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid $secondaryGrey;
    border-radius: 5px;
    box-shadow: -2rem 2rem 2rem rgba(#000, 0.2);
}

.modal_content {
    width: 30%;
    min-width: 350px;
    padding: 20px 0;
    margin: 20% auto;
    background-color: #fff;
}

.modal_form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h3 {
    border-bottom: 1px solid $secondaryGrey;
    padding: 1rem;
    margin: 0;
    color: $primaryBlue;
}

.modal_input {
    height: 2rem;
    margin-bottom: 1rem;
    padding: 5px;
    border: 1px solid $secondaryGrey;
    border-radius: 5px;
}

.modal_time {
    display: flex;
    flex-direction: row;
    color: $primaryGrey;
    font-size: small;
    justify-content: center;
}

.modal_time input {
    width: 3rem;
    margin: 0 0.5rem;
}

.modal_time p {
    line-height: 2rem;
    text-align: center;
}

select.modal_input {
    height: 2rem;
    cursor: pointer;
}

.modal_buttons {
    @include flex-space-between;
    margin-top: 2rem;
}

.modal_buttons button {
    width: 5rem;
    height: 2rem;
    border: 1px solid $secondaryGrey;
    border-radius: 5px;
    font-family: inherit;
    color: $primaryGrey;
    cursor: pointer;
    &:last-child {
        background-color: $primaryRed;
        color: #fff;
    }
}

.error {
    font-size: x-small;
    color: $primaryRed;
}
</style>

<script>
export default {
  name: 'Modal',
  data() {
    return {
      newTask: '',
      hours: '00',
      minutes: '00',
      meridiem: 'AM',
      errors: {},
    };
  },
  methods: {
    validateForm() {
      this.errors = {
        hours: '',
        minutes: '',
        newTask: '',
      };
      if (this.hours < 0 || this.hours > 12) {
        this.errors.hours = 'Number of hours must be more than 0 and less then 12';
      }
      if (this.minutes < 0 || this.minutes > 59) {
        this.errors.minutes = 'Number of minutes must be more than 0 and less then 60';
      }
      if (!this.newTask) {
        this.errors.newTask = 'Please enter new task';
      }
      if (!this.errors.newTask && !this.errors.hours && !this.errors.minutes) {
        this.$emit('add-new-task', {
          newTask: this.newTask,
          hours: this.hours,
          minutes: this.minutes,
          meridiem: this.meridiem,
        });
        this.$emit('set-show-modal', false);
      }
    },
    addTask(e) {
      e.preventDefault();
      this.validateForm();
    },
  },
};
</script>
