<template>
    <li class='taskBox'>
        <div class="taskItem">
            <input
            type="checkbox"
            :checked="!task.active"
            @click="$emit('toggle-status', task.id)"
            />
            <p
            :class="[task.active ? 'task': 'task done']"
            @dblclick="$emit('delete-task', task.id)"
            >
                {{task.task}}
            </p>
            <p>{{task.time}}</p>
        </div>
    </li>
</template>

<style lang="scss">
    @import '../assets/common.scss';

.taskItem {
    @include flex-space-between;
    align-items: center;
    border-bottom: 1px solid $secondaryGrey;
    padding: 30px;
    box-sizing: border-box;
}

.taskBox {
    border-left: 5px solid transparent;
    &:hover {
        border-left: 5px solid #03a9f4;
    }
}

.task {
    width: 70%;
    color: $primaryGrey;
    text-align: left;
    font-size: 20px;
}

.done {
    text-decoration: line-through;
    color: $secondaryGrey;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
    &:checked {
        accent-color: $primaryRed;
    }
}

</style>

<script>
export default {
  name: 'TaskItem',
  props: {
    task: Object,
  },
//   methods: {
//     deleteTask(id) {
//       this.$emit('delete-task', id);
//     },
//     toggleActiveStatus() {
//         this.$emit
//     }
//   },
};
</script>
