@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

  $primaryBlue: #595de6;
  $primaryRed: #e46c70;
  $primaryGrey: #82829c;
  $secondaryGrey: #b8b9c9;

  @mixin flex-space-between {
    display: flex;
    justify-content: space-between;
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }