<template>
  <div class="app">
    <div class="container">
      <Header :count="tasks.length" />
      <button @click="setShowModal(true)" class="btn">+</button>
      <Content
        v-if="tasks.length > 0"
        :tasks="tasks" @delete-task="deleteTask"
        @toggle-status="toggleActiveStatus"
      />
      <p v-else>Your ToDo list is empty. Create first task!</p>
      <Modal v-if="showModal" @set-show-modal="setShowModal" @add-new-task="addNewTask"/>
    </div>
  </div>
</template>

<style lang="scss">
@import "./assets/common.scss";

.app {
  height: 100vh;
  width: 100%;
  background: $primaryBlue;
  background: linear-gradient(
    195deg,
    rgba(89,93,230,1) 0%,
    rgba(89,93,230,1) 43%,
    rgba(228,108,112,1) 43%
  );
  text-align: center;
  padding: 5% 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.container {
  width: 50%;
  min-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5px;
}

.btn {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  border: none;
  background-color: $primaryRed;
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 85px;
  right: 35px;
}
</style>

<script>
import axios from 'axios';
import Header from './components/Header.vue';
import Content from './components/Content.vue';
import Modal from './components/Modal.vue';

export default {
  name: 'Home',
  components: {
    Header,
    Content,
    Modal,
  },
  data() {
    return {
      showModal: false,
      tasks: [],
    };
  },
  async mounted() {
    const res = await axios
      .get('https://back-for-vue.herokuapp.com/api/tasks')
      .then((response) => response.data);
    if (res.data) {
      this.tasks = res.data.map((el) => Object.assign(el.attributes, { id: el.id }));
    }
  },
  methods: {
    setShowModal(status) {
      this.showModal = status;
    },
    async deleteTask(id) {
      const res = await axios
        .delete(`https://back-for-vue.herokuapp.com/api/tasks/${id}`)
        .then((response) => response.status);
      if (res === 200) {
        this.tasks = this.tasks.filter((task) => task.id !== id);
      }
    },
    async toggleActiveStatus(id) {
      const currentTask = this.tasks.find((task) => task.id === id);
      currentTask.active = !currentTask.active;
      const res = await axios
        .put(`https://back-for-vue.herokuapp.com/api/tasks/${id}`, { data: currentTask })
        .then((response) => response.status);
      if (res === 200) {
        console.log('Updated!');
      }
    },
    async addNewTask(newTask) {
      const task = {
        task: newTask.newTask,
        active: true,
        time: `${newTask.hours}:${newTask.minutes} ${newTask.meridiem}`,
      };
      const res = await axios
        .post('https://back-for-vue.herokuapp.com/api/tasks', { data: task })
        .then((response) => response.data);
      if (res.data) {
        this.tasks = [...this.tasks, { ...res.data.attributes, id: res.data.id }];
      }
    },
  },
};
</script>
